*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pidb.meta
*.apk
*.unitypackage
Assets/Scene/**/*.asset
Assets/Scene/**/*.asset.meta
CSharp60Support/compilation.log
Reborn.csproj
Reborn.Editor.csproj
Reborn.Editor.Plugins.csproj
Reborn.Plugins.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-firstpass.csproj
Reborn.sln

syntax: regexp
^obj/.*
^Obj/.*
^library/.*
^Library/.*
^temp/.*
^Temp/.*
^build/.*
^Build/.*
^builds/.*
^Builds/.*
^Assets/AssetStoreTools/.*
^ExportedObj/.*
